{% extends "base.html" %}

{% block content %}
  <h1>
    Positions
  </h1>
  <a href="{% url "tasks:position-create" %}" class="btn btn-primary link-to-page">Create</a>
  {% if position_list %}
    <ul>
      {% for position in position_list %}
        <li>
          <a href="{% url "tasks:worker-list" %}?position={{ position.id }}"> {{ position.name }}</a>
          <a href="{% url "tasks:position-update" pk=position.id %}" class="btn btn-primary">Update</a>
          <a href="{% url "tasks:position-delete" pk=position.id %}" class="btn btn-danger">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no positions in the company</p>
  {% endif %}
{% endblock %}