{% extends "base.html" %}

{% block content %}
  <h1>
    {% if position %}
      Workers with position: {{ position.name }}
      <br>
      <a href="{% url "tasks:position-list" %}" class="btn btn-primary link-to-page">Back</a>
    {% else %}
      Workers
      <a href="{% url "tasks:worker-create" %}" class="btn btn-primary link-to-page">Create</a>
    {% endif %}
  </h1>
  <form method="get" class="mb-3">
    {% if position %}
      <input type="hidden" name="position" value="{{ position.id }}">
    {% endif %}
    {{ search_form.as_p }}
    <input type="submit" value="🔍">
  </form>
  {% if worker_list %}
    <ul>
      {% for worker in worker_list %}
        <li>
          <a href="{% url "tasks:worker-detail" pk=worker.id %} ">{{ worker.id }}</a>
          {{ worker.username }} {{ worker.first_name }}
          {{ worker.last_name }} {{ worker.position }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {% if position %}
      <p>There are no workers with position {{ position.name }}</p>
    {% else %}
      <p>There are no workers in the company</p>
    {% endif %}
  {% endif %}
{% endblock %}