{% extends "base.html" %}

{% block content %}
  <h1>
    {% if position %}
      Workers with position: {{ position.name }}
    {% else %}
      Workers
    {% endif %}
  </h1>
  {% if worker_list %}
    <ul>
      {% for worker in worker_list %}
        <li>
          <a href="{% url "tasks:worker-detail" pk=worker.id %} ">{{ worker.id }}</a>
          {{ worker.username }} {{ worker.first_name }}
          {{ worker.last_name }} {{ worker.position }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {% if position %}
      <p>There are no workers with position {{ position.name }}</p>
    {% else %}
      <p>There are no workers in the company</p>
    {% endif %}
  {% endif %}
{% endblock %}